@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

$fontFamily: 'Roboto', sans-serif;
$orangeButton: #F19B11;
$fontColorGray: #414141;
$fontColorWhite: #FFFFFF;
$borderColor: #CECECE;
$fontWeightBold: 700;
$fontSize: 14px;
$dimension: 991px;

html {
    font-family: $fontFamily;
    font-size: $fontSize;
}

.grid {
    border: 1px solid $borderColor;
    border-radius: 10px;

    &__row {
        display: grid;
        grid-template-columns: repeat(8, minmax(100px, 1fr));

        &:not(:last-child) {
            border-bottom: 1px solid $borderColor;
        }
    }

    &__cell {
        padding: 10px;
        color: $fontColorGray;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        &:not(:last-child) {
            border-right: 1px solid $borderColor;
        }

        &:first-child {
            display: none;
        }

        &--header {
            font-weight: $fontWeightBold;
            color: $fontColorGray;
            flex-direction: column;
            padding: 5px 5px 20px;
            
            .icon__info {
                width: 100%;
                margin-bottom: 10px;
                svg {
                    float: right;
                    width: 14px;
                    path {
                        fill: $borderColor
                    }
                }
            }

            .header__title {
                flex-grow: 1;
            }
        }

        svg {
            cursor: pointer;
        }
    }
}

.btn {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: $fontWeightBold;

    &__expand {
        background-color: $orangeButton;
        color: $fontColorWhite;
        width: 100%;

        &::after {
            content: '+';
        }

        &--active {
            &::after {
                content: '-';
            }
        }
    }

    &__primary {
        border: 1px solid $borderColor;
        background-color: transparent;
        color: $fontColorGray;
    }

    &__secondary {
        background-color: $orangeButton;
        color: $fontColorWhite;
    }
}

@media screen and (max-width: $dimension) {
    .grid {
        &__row {
            grid-template-columns: 50px minmax(100px, 1fr) minmax(100px, 1fr);
        }

        &__cell {
            &:first-child {
                display: flex;
            }

            &:nth-child(3n) {
                border-right: none;
            }
            
            &--hidden {
                display: none;
            }

            &--show {
                grid-column: 1 / 4;
                display: flex;
                justify-content: space-between;
                border-top: 1px solid $borderColor;
                border-right: none !important;

                &::before {
                    content: attr(data-label);
                    font-weight: $fontWeightBold;
                }
            }
        }
    }
}